body{
	line-height: 1.15;
	font-size: 18px;
}
@media screen and (min-width: 640px){
	.content-container{
		display: flex;
	}
	.content {
		flex: 1;
	}
	.sidebar {
		flex: 0 1 300px;
	}
	nav{
		flex-direction: column;
	}
}
@media screen and (min-width: 800px){
	nav{
		justify-content: space-around;
	}
}

#main-content, header, section, aside, footer {
	margin: 0;
	padding: 20px;
	border: 1px solid #000;
}

nav{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

nav > ul >li {
	display: inline;

}

nav > ul > li > a {
	text-decoration: none;
	color: #fff;
	margin: 30px;
}
.brand-name{
	margin-left: 100px;
}

#main-content{
	background-color: #000;
}

header {
	background-color:aqua;
}

.cover {
	background-color: #116611;
}

.content {
	background-color: #172457;
}
.wrapper {
	margin: auto;
	max-width: 75rem;
}

aside{
	background-color: #fff;
}

footer {
	background-color: gray;
}