
body{
	font-family: 'Brush Script MT', cursive;
	font-size: 20px;
}

header {
	background-image: url("images/computer-code-plant.jpg");
	height: 30%;
	width: 100%;
	background-color: rgba(0,255,255,0.5); /*used if the image is unavailable */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-position: right;
	position: fixed;

	}

nav >ul > li> a {
	text-decoration: none;
	margin: 10px;
	
}
li {
	display: inline-flex;
	background-color: #fff;
	list-style-type: none;
}

h1 {
	font-size: 3em;
}

section , footer {
	padding: 200px;
}

